.font-header {
  color: white;
  font-size: 20px;
}
.font-info {
  color: white;
}

html,body {
  font-family: 'Montserrat', sans-serif;
}

.main-section {
  width: 100%;
  height: 2000px;
  background: #BDBDBD;
}
.header{
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  background: #00695C;
}

.hello {
  text-align: center;
  margin: 0px auto;
}

.main-menu {
  width: 100%;
  height: 70px;
  background: #00695C;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center
}

.main-menu-list {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center

}

.main-menu-items {
  float:left;
  width: 150px;
  height: 30px;
  margin: 0 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border: 1px solid white;
  border-radius: 15px;

}

.main-menu-items a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.main-menu-items a:hover {
  font-size: 15px;
}


.main-info{
  height: 600px;
  width: 100%;
  background: #00695C;
  text-align: center;
  justify-content: center;
  display: flex;
}
