.font-header {
  color: white;
  font-size: 20px;
}
.font-info {
  font-size: 20px;
  color: white;
}
.starter {
  text-decoration: none;
  border: 2px solid #fff;
  width: 150px;
  height: 30px;
  margin: 0 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 15px;
}

.menu_hover {
  background: #fff;
}

html,body {
  font-family: 'Montserrat', sans-serif;
}

.main-section {
  width: 100%;
  min-height: 3500px;
  background: #01579B;
}


.hello {
  text-align: center;
  margin: 0px auto;
}

.main_menu {
  width: 100%;
  background: #01579B;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.first-section {
  height: 100vh;
  width: 100%;
}

.main-menu-list {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  padding: 0;
}

.main-menu-items  {
  float:left;
  width: 200px;
  height: 35px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 15px;

}

.main-menu-items a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;

}

.main-menu-items :hover {
  font-weight: 1500;
  width: 150px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}



.start {
  width: 100%;
  height: 30px;
  float: left;
}
.skills {
  width: 100%;
  height: 30px;
  float: left;
}
.edu {
  width: 100%;
  height: 30px;
  float: left;
}
.exp {
  width: 100%;
  height: 30px;
  float: left;
}
.contact {
  width: 100%;
  height: 30px;
  float: left;
  background: #000;
}

.main-info {
  height: 100%;
  width: 100%;
  background: #01579B;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.invite {
  text-transform: uppercase;
  font-size: 18px;
}


.second-section {
  min-height: 800px;
  width: 100%;
  background: #000;
  float: left;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.second-section-heading {
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
}
.skills-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.skill-div{
  width: 200px;
  height: 300px;
  float: left;
  justify-content: center;
  text-align: center;
  display: column;
  align-items: center;
  margin: 5px 10px;
}


.skills_heading {
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 25px;
  text-align: center;

}
.article_icon {
  width: 80px;
}
.article_paragraph {
  color: #fff;
}


.third-section {
  min-height: 600px;
  width: 100%;
  background: #01579B;
  float: left;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.third-section-heading {
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
}

.article_education {
  width: 400px;
  height: 500px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
}

.article_heading {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
  padding: 10px 0;
  margin:30px auto;
}

.article_title {
  font-weight: bold;
  text-transform: uppercase;
}

.article_text {
 text-transform: capitalize;
}



.fourth-section {
  min-height: 600px;
  width: 100%;
  background: #01579B;
  float: left;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.fourth-section-heading {
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
}

.article_experience {
  width: 400px;
  height: 500px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
}

.fifth-section {
  min-height: 750px;
  width: 100%;
  background: #000;
  float: left;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;

}
.fifth-section-heading {
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
}

.article_contact{
  width: 100%;
  height: 500px;
}

.contact_div {
  width: 100%;
  height: 500px;
  float: left;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.contact_text_div{
  width: 300px;
  height: 200px;
  background: #000;
  border: 2px solid #fff;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
.article_title_contact{
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  text-align: center;
}
.article_subtitle_contact{
  width: 300px;
  height: 50px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}
.article_text_contact {
  width: 300px;
  height: 100px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.article_text_contact a {
  color: #fff;
  text-decoration: none;
}
.article_contact_photo {
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
img {
  height: 60px;
  width: 60px;
  -webkit-filter: opacity(.5) drop-shadow(0 0 0 #fff);
  filter: opacity(.5) drop-shadow(0 0 0 #fff);
  display: flex;
  align-items: center;
}



@media screen and (max-width: 425px) {
   .article_experience{
     width: 300px;
   }
   .article_education {
     width: 300px
   }
   .contact_text_div {
     width: 220px;
   }
   .header {
     font-size: 18px;
     margin-top: 100px;
   }
   .font-info{
     font-size: 16px;
   }
   .fifth-section{
     min-height: 900px;
   }
   .contact_text_div{
       margin: 20px auto;
   }
}
